services:
  web:
    build: apache
    hostname: web
    ports:
      - 80:80
    volumes:
      - ./apache/tarefa1.conf:/etc/apache2/sites-enabled/tarefa1.conf
      - ./apache/tarefa2.conf:/etc/apache2/sites-enabled/tarefa2.conf
      - ./apache/tarefa3.conf:/etc/apache2/sites-enabled/tarefa3.conf
      - ./exemplo.lan:/opt/web/exemplo.lan
      - ./omeusitio.lan:/opt/web/omeusitio.lan
      - ./omeusitio2.lan:/opt/web/omeusitio2.lan
      - ./certificados/:/certificados/

    networks:
      redeapache:
        aliases:
          - exemplo.lan
          - www.exemplo.lan
          - eq1.exemplo.lan
          - omeusitio.lan
          - www.omeusitio.lan
          - omeusitio2.lan
          - www.omeusitio2.lan
    develop:
      watch:
        - path: ./apache/tarefa1.conf
          action: restart
        - path: ./apache/tarefa3.conf
          action: restart

  cliente:
    image: brunosct/debian13firefox
    hostname: cliente
    networks:
      redeapache:
        ipv4_address: 192.168.58.150
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix

  cliente2:
    image: brunosct/debian13firefox
    hostname: cliente2
    networks:
      redeapache:
        ipv4_address: 192.168.58.20
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix

networks:
  redeapache:
    ipam:
      config:
        - subnet: 192.168.58.0/24